<div class='grid-container full'>
	
<h5>Configura la marca de agua</h5>
	  	<% if @picture.image.attached?%>
			<%= form_with model: @picture, class:'grid-x grid-margin-x' do |form| %>

				<%= form.fields_for :variation do |f| %>
							<div class='cell auto'>
								<%= f.label 'Frase', class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>
								<%= f.text_field :phrase %>
							</div>
							<div class='cell auto'>
								<%= label_tag 'diagonal','Texto en diagonal:', class: 'text-right ' %>
								<br>
								<%= label_tag 'diagonal','Repetir en la imagen:', class: 'text-right' %>								
							</div>
							<div class='cell auto'>
								<div class="switch small">
									<%= f.check_box :rotation, class:'switch-input text-right ', id:'diag' %>
								  <label class="switch-paddle" for="diag">
								    <span class="switch-active" aria-hidden="true">SI</span>
								    <span class="switch-inactive" aria-hidden="true">NO	</span>
								  </label>
								</div>								
								<div class="switch small">
									<%= f.check_box :repeat, class:'switch-input text-right ', id:'repeat' %>
								  <label class="switch-paddle" for="repeat">
								    <span class="switch-active" aria-hidden="true">SI</span>
								    <span class="switch-inactive" aria-hidden="true">NO	</span>
								  </label>
								</div>
							</div>
							<div class='cell auto'>
								<%= f.label 'Opacidad', class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>								
								<%= slider(50,100,10,'alpha','filler-blue') %>
								<%= f.number_field :alpha, id:'alpha' %>
							</div>
							<div class='cell auto'>
								<%= f.label 'Posicion arbitraria', class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>								
								<%= f.text_field :coorext, id:'position' %>
							</div>
							<div class='cell auto grid-x align-middle'>								
								<%= f.submit 'Marca Agua', value: 'Marca Agua', class: 'button hollow' %>
							</div>
				<% end %>

			<% end %>

		<% end %>
<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
</div>