<div class='grid-container'>
    <h6>Filtro Componente RGB</h6>
	  	<% if @picture.image.attached?%>
			<%= form_with model: @picture, class:'grid-x grid-margin-x' do |form| %>
				<%= form.fields_for :variation do |f| %>
							<div class='cell auto'>
								
								<%= f.label :red, class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>
								<%= slider(125,255,1,'red','filler-red') %>
								<%= f.number_field :red, id:'red' %>
							</div>
							<div class='cell auto'>
								<%= f.label :green, class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>								
								<%= slider(125,255,1,'green','filler-green') %>
								<%= f.number_field :green, id:'green' %>
							</div>
							<div class='cell auto'>								
								<%= f.label :blue, class: 'text-right middle'  %>
							</div>
							<div class='cell auto'>								
								<%= slider(125,255,1,'blue','filler-blue') %>
								<%= f.number_field :blue, id:'blue' %>
							</div>
							<div class='cell auto'>								
								
								<%= f.submit 'Componente RGB', value: 'Mica RGB', class: 'button hollow' %>
							</div>
									

				<% end %>
			<% end %>

		<% end %>

</div>