<div class="grid-container">

	  	<% if @picture.image.attached?%>
			<%= form_with model: @picture, class:'grid-x grid-padding-x align-middle' do |form| %>							
				<%= form.fields_for :variation do |f| %>
						
							

						<div class="grid-x grid-padding-x align-self-top">
							<fieldset class="fieldset">
								<legend>Selecciona una opción de semitonos</legend>	
								<%= f.collection_radio_buttons('semitone', Variation::SEMITONES.map {|k,v| [v,k]}, :pop,:pop,checked: 'a')%>
							</fieldset>
						</div>
												
						<div class='cell auto'>
							<%= f.label :mwidth_param, "Ancho", class: 'text-right middle white-font',for:'ancho'  %>
						</div>
						<div class='cell auto'>
							<%= f.number_field :mwidth_param, id: 'ancho',placeholder:'min: 10, max: ancho/2',min:'10', class:'data-entry'%>
						</div>
						<div class='cell auto'>
							<%= f.label :mheight_param, "Alto", class: 'text-right middle',for:'alto'%>
						</div>
						<div class='cell auto'>							
								<%= f.number_field :mheight_param, id:'alto',placeholder:'min: 10, max: alto/2',min:'10', class:'data-entry' %>
						</div>

						
						<div class='cell auto'>
							<%= f.submit 'Semitonos', value: 'Semitonos', class: 'button hollow' %>
						</div>
	
				<% end %>
			<% end %>
		<% end %>
</div>