<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    	<span class="title-bar-title ">
			
			<%= link_to "PIXELATOR",pictures_path %>
			
			</span>
    <div class="title-bar-left ">
		<ul class="menu ">
			<% unless @pictures.nil?  %>
			<li class="option-menu text-center">
		<%= link_to icon("bootstrap-reboot",class:"icon-2"), @picture, method: :delete, data: {remote: true, confirm: "Esta acción eliminará la imagen cargada y todos sus filtros ¿Quieres continuar?"},class: '' %>
			Reiniciar
			</li>
			<% end %>
		</ul>
    </div>
	
	<div class="off-canvas-content"  data-off-canvas-content>	
	    <div class="title-bar-right"><!-- Content -->
			<ul class=" menu align-right" data-dropdown-menu>
				<li class="option-menu text-center">

						<%= link_to button_icon('Home',"house-fill"),root_path,class:"clear button warning" %>


				</li>
				<% unless @pictures.nil?  %>
				<li class="option-menu text-center">
					<a data-toggle="offCanvasTrail"><%= icon("stack",class:"icon-2")%>
						<br>
						Filtros aplicados
					</a>
				</li>
				<li class="option-menu text-center">
					<a><%= icon("save2",class:"icon-2")%>
						<br>
						Guardar variante
					</a>
				</li>
				<% end %>
			  </ul>

		</div>

	</div>

  </div>
<div class="off-canvas position-top alt-menu" id="offCanvasTrail" data-off-canvas>
	<%= render :partial => 'layouts/application/applied_filters' %>
</div>
</div>
