<!DOCTYPE html>
<html class='no-js'>
	<head>
		<title>Pixelator</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
	</head>
	
	<body>
		<%= render :partial => 'layouts/application/top_bar' %>

		<div class="off-canvas-wraper">

			<div class="grid-container" id="main-container" >
				<%= render :partial => 'layouts/application/alerts' %>
				<hr class="featurette-divider">
				<div class="off-canvas-content"  data-off-canvas-content>
					<%= yield %>
				</div>
			</div>
<!--
<div class="off-canvas position-bottom alt-menu text-center" id="offCanvasFilterMenu" data-off-canvas>
	
</div>
-->

		<% bottom_bar_menu_options.each do |k,v| %>
			<%= content_tag :div,class:"off-canvas position-bottom alt-menu text-center grid-container full", id:"offCanvas#{k}",'data-off-canvas'=>'' do %>
				<%= render :partial => "layouts/application/#{k.underscore}" %>
			<% end %>
		<% end unless @picture.id.nil? %>

		</div>
		<%= render('layouts/application/bottom_bar') unless @picture.id.nil? %>
	</body>
</html>
